<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="7E1619A4-708B-4FD5-8EF5-504CF39BD6E7" Name="Argus TV to Lights Out" Language="1033" Version="2.0.0.2" Manufacturer="jayrock" UpgradeCode="15D96D43-3290-448E-8D2F-90C4A6084D6C">
        <Package InstallerVersion="200" Compressed="yes" Platform="x64" />

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLLOCATION" Name="Windows Server">
                    <Directory Id="INSTALLLOCATION_Bin" Name="Bin">
                        
                        <Directory Id="INSTALLLOCATION_Addins" Name="Addins">
                            <Directory Id="INSTALLLOCATION_Primary" Name="Primary">
                                <Component Id="FTR2LO_Vail.addin" Guid="D26C4C81-DD3D-45C8-ADDF-FFEFF383FB36" Win64="yes">
                                    <File Id="FTR2LO_Vail.addin" Source="..\TopLevelTab\FTR2LO_Vail.addin"
										  Vital="yes" KeyPath="yes" DiskId="1"/>
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="INSTALLDIR" Name="FTR2LO">
                    <Component Id="FTR2LOService" Guid="0556667A-6F14-11DF-8019-B833E0D72085" Win64="yes">
                        <File Id="ftr2loservice.exe" Source="..\ftr2loservice\bin\x64\Release\ftr2loservice.exe" KeyPath="yes" DiskId="1" />
                        <File Id="ftr2loservice.exe.config" Source="..\ftr2loservice\bin\x64\Release\ftr2loservice.exe.config" DiskId="1" />
                        <ServiceInstall ErrorControl="normal" Name="ATV2LoService" Start="auto" Type="ownProcess" Description="Monitors Argus TV and creates entries in LightOut task list." DisplayName="Argus TV to Lights-Out service" Interactive="no" Vital="yes" />
                        <ServiceControl Id='ATV2LOServiceControl' Name='ATV2LoService' Start='install' Stop='both' Remove='uninstall' />
                        <File Id="ArgusTV.Client.Common.dll" Source="..\ftr2loservice\bin\x64\Release\ArgusTV.Client.Common.dll" DiskId="1" />
                        <File Id="ArgusTV.DataContracts.dll" Source="..\ftr2loservice\bin\x64\Release\ArgusTV.DataContracts.dll" DiskId="1" />
                        <File Id="ArgusTV.ServiceAgents.dll" Source="..\ftr2loservice\bin\x64\Release\ArgusTV.ServiceAgents.dll" DiskId="1" />
                        <File Id="ArgusTV.ServiceContracts.dll" Source="..\ftr2loservice\bin\x64\Release\ArgusTV.ServiceContracts.dll" DiskId="1" />
                        <File Id="log.dll__INSTALLDIR" Source="..\log\bin\x64\Release\log.dll" DiskId="1" />
                        <File Id="config.dll_INSTALLDIR" Source="..\config\bin\x64\Release\config.dll" DiskId="1" />
                    </Component>
                    <Component Id="FTR2LO_Vail.TopLevelTab.dll" Guid="B5EA3F43-D708-4929-AF9D-E7626E5DCF17" Win64="yes">
                        <File Id="FTR2LO_Vail.TopLevelTab.dll" Source="..\TopLevelTab\bin\x64\Release\FTR2LO_Vail.TopLevelTab.dll"
								  Vital="yes" KeyPath="yes" DiskId="1"/>
                        <File Id="MRG.Controls.UI.dll" Source="..\TopLevelTab\bin\x64\Release\MRG.Controls.UI.dll"
								  Vital="yes" DiskId="1"/>								  
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
                <Directory Id="FTR2LOFolder" Name="FTR2LO">
                    <Component Id="FTR2LOcomp" Guid="f6bc45e3-af24-4dfa-b894-e1cb8fed67ee">
                        <CreateFolder/>
                    </Component>
                    <Directory Id="logsFolder" Name="logs">
                        <Component Id="logscomp" Guid="615f24fd-e110-45e6-9f90-14e827bf265a">
                            <CreateFolder/>
                            <RemoveFile Id="PurgelogsFolder" Name="*.*" On="uninstall" />
                        </Component>
                    </Directory>
                    <Directory Id="configFolder" Name="config">
                        <Component Id="configcomp" Guid="ade68646-2a44-4065-b65b-9caae3737228">
                            <CreateFolder/>
                            <RemoveFile Id="PurgeConfigFolder" Name="*.*" On="uninstall" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="ProductFeature" Title="Server" Level="1">
            <ComponentRef Id="FTR2LO_Vail.TopLevelTab.dll"/>
            <!--ComponentRef Id="FTR2LO_Vail.SubTab.dll"/-->
            <ComponentRef Id="FTR2LO_Vail.addin"/>
            <!--ComponentRef Id="FTR2LO_Vail_TAB_reference"/-->
            <ComponentRef Id="FTR2LOService" />
            <ComponentRef Id="FTR2LOcomp" />
            <ComponentRef Id="logscomp" />
            <ComponentRef Id="configcomp" />
        </Feature>
    
    </Product>
  
</Wix>
